* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 40px;
}

.board-container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

button{
    padding: 5px;
}

.cell{
    padding: 40px;
}

.p2 {
    padding-top: 20px;
}